<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <connectionString>
      <add name="ConString" connectionString="Data Source=C1236\SQLEXPRESS;Initial Catalog=db1;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        providerName="System.Data.sqlClient"/>
                 </connectionString>
  </configSections>
</configuration>